@{
    ViewData["Title"] = "Register";
}

<div class="form-group">
     <label for="email">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
    <p></p>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <p></p>
  <div class="form-group">
    <label for="pwd">Confirm Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <p></p>
  <div class="row">
    <div class="col-sm-6">
        <button type="submit" class="btn btn-success">Register</button>
    </div>
  
</div>